.ingredient {
    font-family:sans-serif;
    font-style: italic;
    color: rgb(161, 161, 63);
}
.alert-text {
    color:rgb(113, 26, 26);
}

.ingredient-heading {
    font-style:italic;
    color:blueviolet;
}

.main-heading {
    color:green;

}